footer {
    width: 100%;
    
    padding-top: 84px;
    padding-bottom: 85px;

    background: #171717;

    .footer_box {

        .social_box {
            display: flex;
            justify-content: center;
        
            margin-bottom: 30px;
    
            a {
                margin-right: 10px;
            }
        }
    
        .footer_info {
            display: flex;
            flex-direction: column;
            text-align: center;
    
            font-weight: 200;
            font-size: 12px;
            line-height: 14px;
    
            a {
                color: #ABABAB;
    
                &:nth-child(1n + 2) {
                    margin-top: 22px;
                }
            }
        }
    
        .copyright_block {
            display: flex;
            flex-direction: column;
        
            margin-top: 56px;
            
            img, a {
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
    
            .logo {
                width: 211px;
                height: 37px;
            }
        }
    }
}

@media (min-width: 1201px) { 
    footer {
        height: 150px;

        .footer_box {
            display: flex;
            justify-content: space-between;

            max-width: 1309px;
    
            margin-left: auto;
            margin-right: auto;

            .social_box {
                order: 3;
            }
    
            .footer_info {
                flex-direction: row;
                order: 2;
    
                margin-left: 15vw;
    
                a {
                    
                    &:nth-child(1n + 2) {
                        margin-top: auto;
                        margin-bottom: auto;
                        margin-right: 51px;
                    }
    
                    &:first-child {
                        display: none;
                    }
                }
            }
    
            .copyright_block {
                flex-direction: row;
    
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
    
                .copyright {
                    margin: 0 30px;
                }
    
                a {
                    margin-top: 0;
                    text-align: center;
                }
    
                img {
                    margin-top: 0;
                }
            }
    
            .social_box {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: auto;
            }
        }

        

    }
}