header {
    &::before {
        content: "";
        box-sizing: border-box;

        position: absolute;
        left: 0;
        right: 0;

        margin-left: auto;
        margin-right: auto;

        width: 358px;
        height: 774px;

        background: rgba(9, 189, 242, 0.5);
        filter: blur(82px);
        border-radius: 24px;
    }

    .header_container {
        display: flex;
        flex-direction: column;
        position: relative;

        background-image: url("../../images/header-background-mobile.png");
        background-repeat: no-repeat;
        background-size: auto 774px;

        margin-left: auto;
        margin-right: auto;

        border: 0.5px solid #57D6FF;
        box-shadow: -33px 17px 29px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 15px 15px;

        max-width: 358px;
        height: 774px;
    }


    .logo_container {
        text-align: center;
        
        margin-top: 41px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-container {
        width: 284px;
    
        margin-top: 190px;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        display: block;

        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 94px;

        width: 251px;
        height: 61px;
            
        clip-path: polygon(0 0, 91% 0, 100% 39%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0);
        
        font-family: 'Aire Exterior';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        text-transform: uppercase;

        background-color: #FFFFFF;
        border: none;
        color: #000000;
        cursor: pointer;
    }

    .burger {
        position: absolute;
        right: 15px;
        bottom: 63px;
    
        width: 52px;
        height: 20px;

        cursor: pointer;

        &::before {
            content: "";
            background-color: #ffffff;
            position: absolute;
            width: 100%;
            height: 5px;
            left: 0;
        }

        &::after {
            content: "";
            background-color: #ffffff;
            position: absolute;
            width: 100%;
            height: 5px;
            left: 0;
            bottom: 0;
        }
    }
}

@media (min-width: 1201px) {
    header {
        &::before {
            content: "";
            position: absolute;

            box-sizing: border-box;

            width: 100%;

            background: rgba(9, 189, 242, 0.5);
            filter: blur(82px);
            border-radius: 24px;
        }
        
        .header_container {
            background-image: url("../../images/header-background-desktop.png");
            background-size: auto 774px;

            max-width: 1309px;
            max-height: 774px;

            margin: 0 auto;
        }

        .logo_container, .text-container {
            text-align: center;
            width: 100%;
        }

        .burger {
            top: 45px;
            right: 45px;
        }
    }

}