* {
    font-family: 'Roboto', system-ui;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    color: #FFFFFF;
}

@font-face {
    font-family: Aire Exterior;
    src: url("../../fonts/AireExterior.ttf");
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #141C24;
    
    h1 {
        font-weight: 500;
        font-size: 16px;
    }
    
    h3 {
        font-family: 'Aire Exterior';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
    
        margin-top: 11px;
    }
}

@media (max-width: 1201px) {
    ::-webkit-scrollbar { width: 0;}
}

@import "_header";
@import "_menu";
@import "_main";
@import "_aside";
@import "_footer";
@import "_login";
